.mail-details {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
    height: 100%;

    background-color: #ffff;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 1.8rem;
    /* font-family: 'Product Sans', sans-serif; */
}

.mail-details-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
    /* Space below header */
    padding-bottom: 0.5rem;
    /* Padding for the header itself */

}

.mail-details-actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    color: #444746;
    margin-right: 5px;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.mail-details-actions button:hover {
    background-color: #e1e3e1;
}

.mail-details-meta {
    margin-bottom: 2rem;
    /* Space before the body */
    padding-bottom: 1.5rem;

}

.mail-details-subject {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #333;
}

.mail-details-from-date-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0.5rem;
}

/* .mail-details-from {
    display: flex;
    align-items: baseline;
} */

.mail-details-date {
    display: flex;
    align-items: baseline;
    font-size: 1.4rem;
    color: #777;
    flex-shrink: 0;
    /* Prevent it from shrinking */
}

.mail-details-meta .label {
    font-weight: 600;
    margin-right: 10px;
    color: #555;
    min-width: 50px;
}

.mail-details-meta .value {
    font-size: 1.6rem;
    color: #333;
}

.mail-details-to {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5rem;
}


.mail-details-body {
    line-height: 1.8;
    /* Improve readability of body text */
    font-size: 1.6rem;
    color: #444;
    /* Add any specific styling for images, links, etc., within the body if needed */
}

.mail-details-body p {
    margin-bottom: 1rem;
    /* Space between paragraphs */
}